<mat-card class="sign-in-page-mat-card">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <h1>Sign In</h1>
    <form [formGroup]="form" (ngSubmit)="submit()" class="sign-in-page-container">
        <mat-form-field>
            <input matInput placeholder="Enter your email" formControlName="email" required>
            <mat-error *ngIf="form.get('email').invalid && form.get('email').touched">{{getErrorMessageForEmail()}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Enter your password" formControlName="password" type="password">
            <mat-error *ngIf="form.get('password').invalid && form.get('password').touched">
                {{getErrorMessageForPassword()}}</mat-error>
        </mat-form-field>

        <button *ngIf="!isLoading" type="submit" [disabled]="form.invalid || submitted" mat-raised-button color="primary">Sign In</button>
        <button (click)="signInWithGoogle()" type="button" mat-stroked-button color="primary" style="margin-top: 1rem">
            <mat-icon>3d_rotation</mat-icon> Sign In with google
        </button>
    </form>

</mat-card>