.article-create-page-container {
    display: flex;
    flex-direction: column;
}
  
.article-create-page-container > * {
    width: 100%;
}

.article-create-page-mat-card{
    margin: 0 auto;
    max-width: 600px;
}

.danger{
    color: orangered;
}

input[type="file"]{
    visibility: hidden;
}

.image-preview{
    height: 5rem;
    margin: 1rem 0;
}

.image-preview img{ 
    height: 100%;
}

.article-image{
    width: 100%;
}
.article-image img{
    width: 100%;
}