<div fxLayoutAlign="center center">
<mat-card fxFlex.lt-md="100%" fxFlex="80%">
        <h1>Create Article</h1>
        <form [formGroup]="form" (ngSubmit)="submit()" fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Enter your title" formControlName="title" type="text" required>
                <!-- <mat-error *ngIf="form.get('title').invalid && form.get('title').touched">{{getErrorMessageForTitle()}}</mat-error> -->
            </mat-form-field>
            <div>
                <button (click)="filePicker.click()" type="button" mat-stroked-button>Pick Image</button>
                <input type="file" #filePicker (change)="onImagePicked($event)">
            </div>
            <div *ngIf="imagePreview !== '' && imagePreview" class="image-preview">
                <img [src]="imagePreview" alt="">
            </div>
            <mat-form-field>
                <input matInput placeholder="Enter your body" formControlName="body" type="text">
                <!-- <mat-error *ngIf="form.get('body').invalid && form.get('body').touched">{{getErrorMessageForBody()}}</mat-error> -->
            </mat-form-field>

            <button  type="submit" [disabled]="form.invalid || submitted" mat-raised-button color="primary">Create Article</button>
            
        </form>
        
    </mat-card>
</div>

<button (click)="getAllArticles()"  mat-raised-button color="warn">Get All Articles</button>

<ng-container *ngIf="articles">
    <!-- <pre>{{articles.data.articles | json}}</pre> -->
    <div *ngFor="let article of articles.data.articles">
        <h1>{{article.title}}</h1>
        <p>{{article.body}}</p>
        <div *ngIf="article.imagePath" class="article-image">
            <img [src]="article.imagePath" >
        </div>
        <a>{{article.creator.name}}</a>
    </div>
</ng-container>